<div class="row">
    <main class="col-md-12">
        <h1><br><br>Add Student</h1>

        <form action="/students/add" method="POST">
            <fieldset>
                <legend><br>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="form-control" id="lastName" name="lastName" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street):</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="addressCity">Address (City):</label>
                            <input class="form-control" id="addressCity" name="addressCity" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="addressProvince">Address (Province):</label>
                            <input class="form-control" id="addressProvince" name="addressProvince" type="text"><br>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend><br><br>Academic Information</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>College Employment:</label><br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isTA" name="isTA">
                                <label class="form-check-label" for="isTA">Teaching Assistant</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Enrollment Status:</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="fullTime" name="status"
                                    value="Full Time">
                                <label class="form-check-label" for="fullTime">Full Time</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="partTime" name="status"
                                    value="Part Time">
                                <label class="form-check-label" for="partTime">Part Time</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="course">Enrolled in Course:</label>
                            <select class="form-control" id="course" name="course">
                                <option value="1">Relational Database Design and Implementation</option>
                                <option value="2">Java Programming</option>
                                <option value="3">Introduction to Cloud Computing</option>
                                <option value="4">Database Administration and Management</option>
                                <option value="5">Web Programming</option>
                                <option value="6">Work Term Preparation (Work-Integrated Learning option only)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary float-right" value="Add Student">
        </form>
    </main>
</div>